<h1><%= @wiki.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
    <!-- <p><%#= @wiki.topic %></p> -->
  </div>
  <div class="col-md-4">

    <%= link_to "Edit", edit_wiki_path(@wiki.id), class: 'btn btn-success' %>
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you REALLY really sure you want to delete this?' } %>
  </div>
</div>
